.searchResults {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}

.searchResults .searchResult {
  cursor: pointer;
  padding: 0 1em;
  background-color: transparent;
  display: flex;
  align-items: center;
  flex: 1;
}

.searchResults .searchResult h3 {
  font-size: 3em;
  transition: all 0.2s;
  text-align: start;
  color: var(--text-color);
  font-weight: 200;
}

.searchResults .searchResult h3:hover {
  color: var(--text-hover-color);
}

.searchResultsEmpty,
.searchResultsLoading {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.searchResultsLoading {
  flex-direction: column;
}

.searchResultsLoading svg {
  font-size: 3em;
  margin: 1em 0 0.2em;
}

.searchResultsEmpty svg {
  font-size: 5em;
}

@media screen and (max-width: 768px) {
  .searchResultsEmpty svg {
    font-size: 3em;
  }

  .searchResults .searchResult h3 {
    font-size: 1.75em;
  }
}
