.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.main * {
  font-weight: 200;
}

.main svg {
  font-size: 5em;
}

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.search {
  border: none;
  font-size: 4em;
  background-color: transparent;
  font-weight: 100;
  font-family: inherit;
  padding: 15px 10px;
  border-bottom: 1px solid var(--text-color);
  text-align: center;
  margin-top: 1em;
  color: var(--text-color);
}

.search:active, .search:focus, .search:focus-visible {
  border: none;
  border-bottom: 1px solid var(--text-color);
  outline: none;
}
